<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>VISIONA</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- JS -->
  <script src="../js/mapbox-gl.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <!-- <script defer src="https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js"></script> -->
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js"></script>
  <script src="../js/mapfuncs.js"></script>

  <!-- STYLES -->
  <link href="../styles/index.css" rel="stylesheet" />
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css" type="text/css" />
</head>

<body>
  <!-- CRIANDO A DIV DO MAPA -->
  <div id="map"></div>

  <div class="calculation-box">
    <p>Draw a polygon using the draw tools.</p>
    <div id="calculated-area"></div>
  </div>

</body>

</html>
