<%- include ('./headers.ejs') -%>
<script defer type="text/javascript" src="../assets/js/mapfuncs.js"></script>
<form method="POST" action="/add">
  <!-- CRIANDO A DIV DO MAPA -->
  <div id="map"></div>

  <input type="text" id="geojson" name="geojson" hidden>

  <div class="calculation-box">
    <p>Área total selecionada.</p>
      <button id="btn_save" type="submit" class="btn-sm btn-primary float-center">Adicionar Área</button>
    <div id="calculated-area"></div>
  </div>
</form>
</body>
</html>
