<%- include ('./headers.ejs') -%>
<script src="../assets/js/mapeditfuncs.js"></script>

<% if (area) { %>
  <div id="map" name="map"></div>
  <label id="geojson"><%= area.geojson %></label>
<% } else { %>
  <p class="text-center">Area Not Found. Go <a href="/add">here</a> to add areas.</p>
<% } %>

</body>
</html>
