<%- include ('./headers.ejs') -%>
<div class="table-wrapper">
  <% if (message_error != '') {%>
    <div class="alert alert-warning" role="alert">
      <%= message_error %>
    </div>
    <% } else { %>
      <p class="text-center">Sem Erros por aqui.</p>
    <% } %>
  </div>
</div>
</div>
</body>

</html>
