<%- include ('./headers.ejs') -%>
<div class="table-wrapper">
  <% if ( typeof file != undefined ) { %>
  <div class="container">
    <div class="row">
      <div class="col">
        <% if (success != '') {%>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      </div>
      <% } %>
    </div>
    <hr>
    <div class="row">
      <% files.forEach((file, index) => { %>
      <div class="col">
        <div class="card" style="max-width: 35rem; border-radius: 10px;">
          <div class="card-body">
            <img src="../assets/imgs/<%= file.img %>" height="100px" width="100px" alt="">
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <% } else { %>
    <p class="text-center">No Images found. Go <a href="/files">here</a> to add images.</p>
    <% } %>
  </div>
</div>
</div>
</body>
</html>
